.navbar{
    position: fixed;
    top:-50px;
    height: 50px;
    width: 100vw;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    margin:auto;
    align-items: center;
}
.navbar-container{
 
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar-container{
    margin: 0;
    padding: 0;
}
.navbar-container li{
    margin: 0 10px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.navbar-container li a {
    text-decoration: none;
    color: #fff;
}
.active{
    background-color:#fff;
    color:blueviolet;
    top:0;
}